<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="true" productName="DdsExplorer">
  <assemblies>
    <add assembly="Gulla.Optimizely.DdsExplorer" />
  </assemblies>
  <clientModule>
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>
